<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaFOiawQWMbiauK_Q-5RbZJfigd5mj6Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>986897079409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exam5month</string>
	<key>PROJECT_ID</key>
	<string>restaurant-automatical</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-automatical.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986897079409:ios:2927e6441de805c598cfd0</string>
	<key>DATABASE_URL</key>
	<string>https://restaurant-automatical-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>